---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=/${post.data.lang}/blog/${post.slug}`} />
    <title>SleepLemon</title>
  </head>
  <body>
    <a href={`/${post.data.lang}/blog/${post.slug}`}>Continue to SleepLemon</a>
  </body>
</html>
